# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.cursor*

# OS
Thumbs.db
.DS_Store

# Output
output/
*.csv
